#page-header {
  background-color: #014202;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 60%;
  height: auto;
  display: block;
}

#about-head div {
  max-width: 100%;
}
#about-head h2 {
  font-size: 20px;
}
#about-head marquee {
  color: black;
}
